#FOR BACK-END PART OF APPLCIATION

time-dealer/HELP.md
time-dealer/target/
!time-dealer/.mvn/wrapper/maven-wrapper.jar
!time-dealer/**/src/main/**
!time-dealer/**/src/test/**

time-dealer/*.iml
time-dealer/.idea
time-dealer/.*iws
time-dealer/.*ipr

#FOR FRONT-END PART OF APPLICATION

time-dealer-front/node_modules
time-dealer-front/.pnp
time-dealer-front/.pnp.js
time-dealer-front/coverage
time-dealer-front/build
time-dealer-front/npm-debug.log*
time-dealer-front/yarn-debug.log*
time-dealer-front/yarn-error.log*
time-dealer-front/.env.production.local
time-dealer-front/.env.test.local
time-dealer-front/.env.development.local
time-dealer-front/.env.local
time-dealer-front/.DS_Store